* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* https://picsum.photos/600/400?random=11 */
img {
  width: 100%;
  height: auto;
}

nav {
  background-color: #fff;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}
nav h1 {
  float: left;
  padding-left: 5px;
  font-size: 20px;
  margin: auto;
}

input {
  display: none;
}

label {
  float: right;
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

label img {
  width: 100%;
  vertical-align: middle;
}

.menu {
  clear: both;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
}

.menu li {
  text-align: center;
}

.menu a {
  display: block;
  font-size: 20px;
  color: #000;
}

input:checked ~ .menu {
  max-height: 300px;
  background: #aaa;
  box-shadow: 0px 1px 3px #00000088;
}

.banner {
  width: 100%;
  height: 300px;
  background-color: rgb(187, 218, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.banner .wrap {
  font-size: 40px;
}

.container {
  margin: 0 auto;
  display: grid;
  width: 90%;
  /* grid-template-columns: 1fr; */
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center;
}
.item .text {
  background-color: rgb(187, 218, 233);
  text-align: center;
  padding: 10px;
}

.item:last-child {
  margin-bottom: 30px;
}

.pic img {
  width: 100%;
  vertical-align: bottom;
}

/* @media screen and (min-width: 601px) {
  label {
    display: none;
  }
  .menu {
    float: right;
    clear: none;
    max-height: 50px;
  }
  .menu li {
    display: inline-block;
    padding: 0 10px;
  }

  /* .item-group {
    display: flex;
  } */
/* } */

@media only screen and (min-width: 601px) {
  label {
    display: none;
  }
  .menu {
    float: right;
    clear: none;
    max-height: 50px;
  }
  .menu li {
    display: inline-block;
    padding: 0 10px;
  }
  .banner {
    margin-bottom: 20px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width: 1201px) {
  label {
    display: none;
  }
  .menu {
    float: right;
    clear: none;
    max-height: 50px;
  }
  .menu li {
    display: inline-block;
    padding: 0 10px;
  }
  .container {
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
